In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [3]:
import numpy as np

In [4]:
mylist=list('abcdefghijklmnopqrstuvwxyz')

In [6]:
myarr=np.arange(26)

In [7]:
mydict=dict(zip(mylist,myarr))

In [8]:
mydict

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [10]:
myser=pd.Series(mydict)

In [17]:
myser

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [20]:
df=myser.reset_index()

In [21]:
df

   index   0
0      a   0
1      b   1
2      c   2
3      d   3
4      e   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [22]:
se1=pd.Series(mylist)

In [23]:
se2=pd.Series(myarr)

In [28]:
df=pd.concat([se1,se2],axis=1)

In [30]:
df.head(5)

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4

In [34]:
se1.name='Alphabets'

In [35]:
se1.head(5)

0    a
1    b
2    c
3    d
4    e
Name: Alphabets, dtype: object

In [36]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [39]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [40]:
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [41]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [43]:
ser.min()

3.218258171347726

In [45]:
np.percentile(ser,0.25)

3.2673870315239464

In [46]:
ser.median()

9.920753861543364

In [47]:
np.percentile(ser,0.75)

3.365644751876389

In [48]:
ser.max()

17.150504219197984

In [49]:
np.percentile(ser,[0.25,0.50,0.75,100])

array([ 3.26738703,  3.31651589,  3.36564475, 17.15050422])

In [51]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [53]:
ser.value_counts()

e    6
h    6
c    5
b    4
a    3
g    2
d    2
f    2
dtype: int64